<div class="text-right">
  <a href="/dashboard" class="btn btn-success my-3">To Dashboard</a>
</div>

<div class="card-deck"></div>
  <% searches.forEach(search => { %>
    <div class="card mb-3">
      <div class="card-header">
        <%- search.keyword ? 
          'Guardian articles about <strong>' + search.keyword + '</strong>' : 
          'NYTimes Most Popular for <strong>' + search.popularityPeriod + ' ' + (search.popularityPeriod === 1 ? 'day' : 'days') + '</strong>'%>
      </div>
      <div class="card-body">
        <p><strong>Date of Search:</strong> <%= search.dateOfSearch.toDateString() %></p>
        <p><strong>From:</strong> <%= search.periodOfSearch.dateFrom ? search.periodOfSearch.dateFrom.toDateString() : 'N/A' %></p>
        <p><strong>To:</strong> <%= search.periodOfSearch.dateTo ? search.periodOfSearch.dateTo.toDateString() : 'N/A' %></p>
        <div class="text-right">
          <a href="<%- search.keyword ? '/keyword-articles-partial?searchId=' : '/top-articles-partial?searchId=' %><%= search._id %>" 
            class="btn btn-primary">View</a>
          <form action="/search/delete/<%= search._id %>" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  <% }) %>
</div>
